* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    --primary-color: #75E6DA;
    --light-shades: #D4F1F4;
    --dark-accent: #189AB4;
    --dark-shades: #ef2061;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 3fr 3fr;
}

.container>header {
    grid-area: header;
}

.container>main {
    grid-area: main;
}

.container>footer {
    grid-area: footer;
}

.margin2sides {
    margin: 0 auto;
    width: 68rem;
}

/* CSS FIRST MENU */

.firstmenucolor {
    background-color: var(--dark-shades);
}

.firstmenu {
    display: flex;
    justify-content: space-between;
}

.firstmenu ul {
    display: flex;
    padding: 0.5rem 0;
}

.firstmenu>ul li {
    padding-left: 5rem;
    list-style-type: none;
}

.firstmenu>ul a {
    text-decoration: none;
    color: var(--light-shades);
}

.firstmenu>.hotline {
    padding: 0.5rem 0;
    color: var(--light-shades);
}

/* CSS DROPDOWN MENU */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-shades);
    min-width: 5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--light-shades);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button {
    color: var(--light-shades);
    padding: 12px 16px;
    background-color: var(--dark-shades);
    border: none;
    font-size: 1.1rem;
}

.dropdown-content button:hover {
    background-color: var(--dark-accent);
}

.dropdown-content a:hover {
    background-color: var(--dark-accent);
}

#loggedin:hover .dropdown-content {
    display: block;
}

/* CSS SECOND MENU */

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.secondmenucolor {
    background-color: var(--light-shades);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
}

.secondmenu {
    display: flex;
    justify-content: space-between;
}

.secondmenu ul {
    display: flex;
    margin-top: 1.5rem;
}

.secondmenu>ul li {
    padding-left: 5rem;
    list-style-type: none;
}

.secondmenu>ul a {
    text-decoration: none;
    color: var(--dark-shades);
    font-weight: bolder;
}

.secondmenu img {
    padding: 0.5rem 0;
    width: 4rem;
}

/* CSS MAIN */

main {
    background-color: white;
    padding-bottom: 3rem;
}

/* CSS FOOTER */

.footercolor {
    background-color: var(--dark-shades);
}

.footer-area {
    display: flex;
    justify-content: space-between;
}

.footer-area>p {
    color: var(--light-shades);
    padding: 1rem 0;
    font-size: 1rem;
}

.footer-area>nav {
    padding: 1rem 0;
}

.footer-area>nav a {
    text-decoration: none;
    color: var(--light-shades);
    padding-left: 5rem;
    font-size: 1rem;
}