/* CSS BANNER */

.banner {
    width: 100%;
    object-fit: cover;
    height: 35rem;
}

/* CSS TOUR NN */

.tournn>h1 {
    color: var(--dark-shades);
    padding: 3rem 0;
}

.listtournn {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 1rem;
}

.tournn-card {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    border: var(--dark-accent) solid 1px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.2);
}

.tournn-card>div {
    overflow: hidden;
    max-width: fit-content;
}

.tournn-card img {
    width: 10rem;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(80%);

}

.tournn-card:hover img {
    filter: brightness(100%);
    transform: scale(1.5);
}

.tournn-card h2 {
    color: var(--dark-shades);
    padding-bottom: 0.5rem;
}

.tournn-card h3 {
    color: var(--dark-shades);
    padding-bottom: 0.5rem;
}

.tournn-card p {
    color: var(--dark-shades);
}

/* CSS TOUR TN */

.tourtn>h1 {
    color: var(--dark-shades);
    padding: 3rem 0;
}

.listtourtn {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 1rem;
}

.tourtn-card {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    border: var(--dark-accent) solid 1px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.2);
}

.tourtn-card>div {
    overflow: hidden;
    max-width: fit-content;
}

.tourtn-card img {
    width: 10rem;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(80%);
}

.tourtn-card:hover img {
    filter: brightness(100%);
    transform: scale(1.5);
}

.tourtn-card h2 {
    color: var(--dark-shades);
    padding-bottom: 0.5rem;
}

.tourtn-card h3 {
    color: var(--dark-shades);
    padding-bottom: 0.5rem;
}

.tourtn-card p {
    color: var(--dark-shades);
}